@{
    ViewBag.Title = "CreateAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="../css/plugins/toastr/toastr.min.css" rel="stylesheet" />
<link href="../css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

<style>
    .ui-helper-hidden-accessible { display:none; }
</style>
<!-- Custom and plugin javascript -->
<script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../js/plugins/toastr/toastr.min.js"></script>

<!-- Input Mask-->
<script src="../js/plugins/jasny/jasny-bootstrap.min.js"></script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Pay A User</h2>
        <ol class="breadcrumb">
            <li>
                <a href="Dashboard">Dashboard</a>
            </li>
            <li>
                <a>Admin</a>
            </li>
            <li class="active">
                <strong>Pay A User</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>


<div class="wrapper wrapper-content animated bounceIn">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Send Money From Team Nooch <small style="margin-left:6px;"> Use this form to initiate a credit from Nooch to a validated Nooch Member.</small></h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Username or NoochId</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="Ex: 'cliff@nooch.com'" class="form-control" id="userNameText" maxlength="30">
                                <span class="help-block m-b-none">Enter the username or NoochId of the Member to receive payment.</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Amount</label>
                            <div class="col-sm-6 col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-usd text-success"></i></span><input type="number" class="form-control" id="amoutinput" placeholder=" 10.00" max="100" min="0">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Comments<br /><small>(Memo)</small></label>
                            <div class="col-sm-8"><input type="text" class="form-control" id="commentsinput" maxlength="100"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">PIN</label>
                            <div class="col-sm-6 col-md-3">
                                <div class="input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span><input type="password" class="form-control" id="pinInput" name="email" placeholder="1234" maxlength="8">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                       
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <a data-toggle="modal" data-target="#modal-confirmPayment" class="btn btn-primary">Make Payment</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="modal-confirmPayment" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="fa fa-question-circle pull-left"></span>Are You Sure?</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:15px;text-align:center; margin-bottom:5px;">Please confirm this payment.  The user will be notified.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Admin.AddFund();">Yes - Make Payment</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/App/CreateAdmin.js"></script>
<script src="~/js/jquery-ui-1.10.4.min.js"></script>

<script>
    $(document).ready(function() {
        $("#admintasks").trigger("click");
        $('#createFundToMem').addClass('active');


        // auto complete related code
        $('#userNameText').autocomplete({
            source: function (request, response) {
                var autocompleteUrl = '../api/Services/SearchUsername?username=' + $('#userNameText').val();
                $.ajax({
                    url: autocompleteUrl,
                    type: 'GET',
                    cache: false,
                    dataType: 'json',
                    success: function (json) {
                        // call autocomplete callback method with results 
                        response($.map(json, function (data, id) {
                            return {
                                label: data.UserName,
                                value: data.UserName
                            };
                        }));
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        console.log('some error occured', textStatus, errorThrown);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
               
                $('#userNameText').val(ui.item.label);
                return false;
            }
        });
    });
</script>