``@{
    ViewBag.Title = "UsersOverTime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="content">
    <div class="container">
       

        <div class="row">
           

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 id="headerUserOverTime">Bar Chart for showing Graph of users over time</h2>

                        <ul class="actions">
                            <li class="dropdown action-show">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-more-vert"></i>
                                </a>

                                <div class="dropdown-menu pull-right">
                                    <ul>
                                        <li><a onclick="Member.getUserOverTime('weekly');">weekly</a></li>
                                        <li><a onclick="Member.getUserOverTime('monthly');">monthly</a></li>
                                        <li><a onclick="Member.getUserOverTime('yearly');">yearly</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body card-padding-sm">
                        <div id="bar-chart" class="flot-chart"></div>
                        <div class="flc-bar"></div>
                        <input type="radio" name="status" checked="checked" value="0" onclick="Member.getUserOverTime('r');" />Registered
                        <input type="radio" name="status" value="1" onclick="Member.getUserOverTime('r');" />Non-Registered
                    </div>
                   
                </div>
            </div>

           

           
    </div>
        


 </div>
</section>
 
        

   <!-- Javascript Libraries -->
 

 
<script src="~/Scripts/App/flot/jquery.flot.js"></script>
 
 
 
<script src="~/Scripts/App/UserOverTime.js"></script>
 
 

<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
    <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<![endif]-->
<!-- Charts - Please read the read-me.txt inside the js folder-->
 
 
<script src="~/Scripts/App/flot-charts/bar-chart.js"></script>
 
  
 
 
 
 
  